*{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: 0;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #131312;
      }
    .c{
        position: relative;
        justify-content: center;
        align-items: center;
        width: 1200px;
        flex-wrap: wrap;
        display: flex;
        transform-style: preserve-3d;
    }
    .c .box{
        position: relative;
        width: 300px;
        height: 400px;
        margin: 40px;
        background: #232323;
        transform-style: preserve-3d;
        border-radius: 20px;
        display: flex;
}
    .c .box::before{
        content: 'Adidas';
        position: absolute;
        top: 20px;
        left: 15px;
        font-size: 5em;
        font-weight: 900;
        color: #fff;
        font-style: italic;
        opacity: 0;
        transition: 0.3s
    }
    .c .box::after{
        content: 'Shoes';
        position: absolute;
        bottom: 20px;
        left: 36px;
        font-size: 5em;
        font-weight: 900;
        color: #fff;
        font-style: italic;
        letter-spacing: 2px;
        opacity: 0;
        transition: 0.3s
    }
    .c .box:hover::before,
    .c .box:hover::after{
        opacity: 0.04;
    }
    .c .box .name{
        position: absolute;
        top: 10px;
        left: 0;
        text-align: center;
        color: white;
        width: 100%;
        transform: translate3d(0,0,75px);
        transition: 0.5s;
        opacity: 0;
        z-index: 10;
        transform-style: preserve-3d;
    }
    .c .box:hover .name{
        top: 40px;
        opacity: 1;
    }
    .c .box .buy{
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform-style: preserve-3d;
        transform: translate3d(-50%,0,75px);
        color: #fff;
        background: #333;
        padding: 10px 25px;
        border-radius: 10px;
        text-decoration: none;
        transition: 0.5s;
        opacity: 0;
        z-index: 10;
        font-weight: 600;
    }
    .c .box:hover .buy{
        bottom: 20px;
        opacity: 1;
    }
    .c .box:nth-child(1) .buy:hover{
        box-shadow: 0px 0px 10px rgb(248, 104, 60),
                    0px 0px 20px rgb(190, 74, 39),
                    0px 0px 30px rgb(204, 83, 46);
    }
    .c .box:nth-child(2) .buy:hover{
        box-shadow: 0px 0px 10px rgb(26, 245, 73),
                    0px 0px 20px rgb(50, 241, 92),
                    0px 0px 40px rgb(13, 233, 148);
    }
    .c .box:nth-child(3) .buy:hover{
        box-shadow: 0px 0px 10px rgb(245, 77, 26),
                    0px 0px 20px rgb(179, 52, 13),
                    0px 0px 30px rgb(224, 65, 16);
    }
    .c .box .circle{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 230px;
        height: 230px;
        border-radius: 50%;
        transition: 0.5s;
        background: #fff;
        opacity: 1;
        transform-style: preserve-3d;
        transform: translate3d(-50%, -50%, 50px);
    }
    .c .box .product{
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 300px;
        transition: 0.5s 0.2s;
        z-index: 11;
        transform-style: preserve-3d;
        transform: translate3d(-50%,-50%,50px) rotate(0deg);
    }
    .c .box:hover .product{
        transform: translate3d(-50%,-50%,100px) rotate(-20deg);
    }
    .c .box:nth-child(1) .circle,
    .c .box:nth-child(1) .buy{
        background: linear-gradient(130deg,rgb(250, 156, 49), rgb(233, 83, 14));
    }
    .c .box:nth-child(2) .circle,
    .c .box:nth-child(2) .buy{
        color: #000;
        background: linear-gradient(-130deg,rgb(0, 251, 96), rgb(54, 243, 227));
    }
    .c .box:nth-child(3) .circle,
    .c .box:nth-child(3) .buy{
        background: linear-gradient(130deg,rgb(250, 122, 49), rgb(243, 54, 54));
    }
    .c .box:nth-child(1) .circle:hover{
        box-shadow: 0px 0px 10px rgb(248, 135, 60),
                    0px 0px 20px rgb(190, 99, 39),
                    0px 0px 40px rgb(246, 80, 30);
    }
    .c .box:nth-child(2) .circle:hover{
        box-shadow: 0px 0px 10px rgb(26, 245, 73),
                    0px 0px 20px rgb(50, 241, 92),
                    0px 0px 40px rgb(13, 233, 148);
    }
    .c .box:nth-child(3) .circle:hover{
        box-shadow: 0px 0px 10px rgb(245, 77, 26),
                    0px 0px 20px rgb(179, 52, 13),
                    0px 0px 40px rgb(224, 65, 16);
    }


